{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
	<title>{% block title %}{% endblock %} Easy Meal</title>
	<meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" href="{% static 'images/order easy.png' %}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="https://bslthemes.com/bslthms-advanced-btns/assets/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	<!-- CSS only -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" href="{% static 'css/own.css' %}">
	<link rel="stylesheet" href="{% static 'css/own-car.css' %}">
	<link rel="stylesheet" href="{% static 'css/nice.css' %}">
	<link rel="stylesheet" href="{% static 'css/color.css' %}">
	<link rel="stylesheet" href="{% static 'css/aos.css' %}">
	<link rel="stylesheet" href="{% static 'css/new.css' %}">
	<style>
		#main {
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			font-size: 60px;
			font-style: oblique;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 10px;
		}

		@media only screen and (max-width: 767px) {
			.restaurant {
				margin-top: 20% !important;
			}

			.join-img:before {
				width: 80% !important;
				margin-top: 10%;
			}

			.join-img img {
				margin-top: 12% !important;
			}

			.about-text {
				margin-top: 20% !important;
			}

			.video-section-img:before {
				width: 70% !important;
			}

			.hero-section-img-service:before {
				width: 85% !important;
			}

			.sit-at-img:before {
				width: 85% !important;
			}

			.sit-at-img img {
				margin-top: 23% !important;
			}

			.join-img-blog:before {
				width: 100% !important;
			}

			.join-courier {
				margin-top: 100% !important;
				width: 80% !important;
				margin-bottom: 20% !important;
			}

			.benefit-text {
				margin-top: 40% !important;
			}

			.beni-cont {
				margin-top: 100% !important;
			}

			.join-img-blog:before {
				width: 94% !important;
			}

			.join-img-blog img {
				margin-top: 35% !important;
			}

			.wilmington.location-restaurant {
				width: 60% !important;
			}

			.wilmington {
				width: 100%;
			}

			.restaurant .nice-select.Advice {
				width: 87% !important;
			}

			.log-imag {
				height: 80px !important;
				width: 110px !important;
			}

			.foot-img {
				height: 130px !important;
				width: 180px !important;
			}
			.about-img img {
				width: 95% !important;
				height:40% !important;
				margin-left:0px !important;
			} 
         .about-img:before{
			width: 90% !important;
		 }
		 
		 .good-taste{
			margin-left: 0% !important;
		 }
		 .banner-wilmington h6 {
			font-size: 12px !important;
		}
	}
	</style>
</head>

<body style="word-wrap: break-word;">
	<div class="page-loader">
		<div class="wrapper">
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="shadow"></div>
			<div class="shadow"></div>
			<div class="shadow"></div>
			<span>Loading</span>
		</div>
	</div>
	<header>
		<div class="container">
			<div class="d-flex justify-content-between align-items-center mx-0">
				<div class="">
					<div class="header-style">
						<a href="{% url 'home:home-page' %}">
							<img src="{% static 'images/order easy.png' %}" class="img-fluid log-imag" alt=""
								height="150px" width="200px">
						</a>
						<div class="extras bag">
							<a href="javascript:void(0)" class="menu-btn">
								<i class="fa-solid fa-bag-shopping"></i>
							</a>
							<div>
								<i class="fa-solid fa-bars"></i>
							</div>
						</div>
					</div>
				</div>
				<div id="web" class="d-flex">
					<div id="navbar-container" class="d-flex">
						<nav class="navbar">
							<ul class="navbar-links">
								<li class="navbar-dropdown active">
									<a href="{% url 'home:home-page' %}">Home</a>
								</li>
								<li class="navbar-dropdown">
									<a href="{% url 'home:about-page' %}">About Us</a>
								</li>
								<li class="navbar-dropdown">
									<a href="#">Restaurants</a>
									<div class="dropdown">
										<a href="{% url 'restaurant:restaurant' %}">Restaurants</a>
										<a href="{% url 'restaurant:restaurant-card' %}">Restaurant Card</a>
										<a href="{% url  'home:checkout'  %}">Checkout</a>
									</div>
								</li>
								<li class="navbar-dropdown">
									<a href="#">Pages</a>
									<div class="dropdown">
										<a href="{% url 'blog:blog_page' %}">Blog</a>
										<a href="{% if post.last %}{% url  'blog:blog_detail' post.last.slug  %}{% else %} javascript:void(0);{% endif %}">Single Blog</a>
										<a href="{% url  'blog:service'  %}">Services</a>
										<a href="{% url 'home:faq' %}">FAQ</a>
										<a href="{% url  'home:pricing-table'  %}">Pricing Table</a>
										<a href="{% url  'home:become-partner'  %}">Become A Partner</a>
										<a href="{% url  'home:page-not-found'  %}">404</a>
									</div>
								</li>
								<li class="navbar-dropdown">
									<a href="{% url  'home:contact'  %}">Contacts</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="card d-none" id="content">
						<div>
							<nav class="navbar">
								<ul class="navbar-links">
									<li class="navbar-dropdown active">
										<a href="{% url 'home:home-page' %}">Home</a>
									</li>
									<li class="navbar-dropdown">
										<a href="{% url 'home:about-page' %}">About Us</a>
									</li>
									<li class="navbar-dropdown">
										<a href="#">Restaurants</a>
										<div class="dropdown">
											<a href="{% url 'restaurant:restaurant' %}">Restaurants</a>
											<a href="{% url 'restaurant:restaurant-card' %}">Restaurant Card</a>
											<a href="{% url  'home:checkout'  %}">Checkout</a>
										</div>
									</li>
									<li class="navbar-dropdown">
										<a href="#">Pages</a>
										<div class="dropdown">
											<a href="{% url 'blog:blog_page' %}">Blog</a>
											<a href="{% if post.last %}{% url  'blog:blog_detail' post.last.slug  %}{% else %} javascript:void(0);{% endif %}">Single Blog</a>
											<a href="{% url  'blog:service'  %}">Services</a>
											<a href="{% url 'home:faq' %}">FAQ</a>
											<a href="{% url  'home:pricing-table'  %}">Pricing Table</a>
											<a href="{% url  'home:become-partner'  %}">Become A Partner</a>
											<a href="{% url  'home:page-not-found'  %}">404</a>
										</div>
									</li>
									<li class="navbar-dropdown">
										<a href="{% url  'home:contact'  %}">Contacts</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="d-flex">
						<div class="extras bag">
							<a href="javascript:void(0)" id="desktop-menu" class="menu-btn">
								<i class="fa-solid fa-bag-shopping"></i></a>
							<a href="{% url 'restaurant:restaurant' %}" class="button button-2">Order Now</a>
						</div>
					</div>
				</div>
				<div id="mobile" style="display: none;" class=" col-4 justify-content-end">
					<div class="extras bag d-flex">
						<a href="javascript:void(0)" id="desktop-menu" class="menu-btn">
							<i class="fa-solid fa-bag-shopping"></i>
						</a>
						<button id="toggleButton" onclick="toggleVisibility()">
							<i class="fa-solid fa-bars" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				<div class="menu-wrap d-none">
					<div class="menu-inner ps ps--active-x ps--active-y">
						<span class="menu-cls-btn"><i class="cls-leftright"></i><i class="cls-rightleft"></i></span>
						<div class="checkout-order">
							<div class="title-checkout">
								<h2>My Orders</h2>
							</div>
							<div class="banner-wilmington">
								<img alt="logo" src="https://bslthemes.com/html/quickeat/assets/img/logo-s.jpg">
								<h6>Kennington Lane Cafe</h6>
							</div>
							<ul>
								<li class="price-list">
									<i class="closeButton fa-solid fa-xmark"></i>
									<div class="counter-container">
										<div class="counter-food">
											<img alt="food"
												src="https://bslthemes.com/html/quickeat/assets/img/dish-6.png">
											<h4>Pasta, kiwi and sauce chilli</h4>
										</div>
										<h3>$39</h3>
									</div>
									<div class="price">
										<div>
											<h2>$39</h2>
											<span>Sum</span>
										</div>
										<div>
											<div class="qty-input">
												<button class="qty-count qty-count--minus" data-action="minus"
													type="button">-</button>
												<input class="product-qty" type="number" name="product-qty" min="0"
													value="1">
												<button class="qty-count qty-count--add" data-action="add"
													type="button">+</button>
											</div>
											<span>Quantity</span>
										</div>
									</div>
								</li>
								<li class="price-list">
									<i class="closeButton fa-solid fa-xmark"></i>
									<div class="counter-container">
										<div class="counter-food">
											<img alt="food"
												src="https://bslthemes.com/html/quickeat/assets/img/dish-7.png">
											<h4>Rice with shrimps and kiwi</h4>
										</div>
										<h3>$49</h3>
									</div>
									<div class="price">
										<div>
											<h2>$49</h2>
											<span>Sum</span>
										</div>
										<div>
											<div class="qty-input">
												<button class="qty-count qty-count--minus" data-action="minus"
													type="button">-</button>
												<input class="product-qty" type="number" name="product-qty" min="0"
													value="1">
												<button class="qty-count qty-count--add" data-action="add"
													type="button">+</button>
											</div>
											<span>Quantity</span>
										</div>
									</div>
								</li>
							</ul>
							<div class="totel-price">
								<span>Total order:</span>
								<h5>$137</h5>
							</div>
							<div class="totel-price">
								<span>To pay:</span>
								<h2>$137</h2>
							</div>
							<button class="button-price">Checkout</button>

						</div>
					</div>
				</div>
				<div class="mobile-nav hmburger-menu" id="mobile-nav" style="display:block;">
					<div class="res-log">
						<a href="{% url 'home:home-page' %}">
							<svg xmlns="http://www.w3.org/2000/svg" width="163" height="38" viewBox="0 0 163 38">
								<g id="Logo-m" transform="translate(-260 -51)">
									<g id="Logo-2-m" data-name="Logo" transform="translate(260 51)">
										<g id="Elements-m">
											<path id="Path_3429" data-name="Path 3429"
												d="M315.086,140.507H275.222v-.894c0-11.325,8.941-20.538,19.933-20.538s19.931,9.213,19.931,20.538Z"
												transform="translate(-270.155 -115.396)" fill="#f29f05" />
											<path id="Path_3430" data-name="Path 3430"
												d="M301.13,133.517a1.488,1.488,0,0,1-1.394-.994,11.361,11.361,0,0,0-10.583-7.54,1.528,1.528,0,0,1,0-3.055,14.353,14.353,0,0,1,13.37,9.527,1.541,1.541,0,0,1-.875,1.966A1.444,1.444,0,0,1,301.13,133.517Z"
												transform="translate(-264.176 -113.935)" fill="#fff" />
											<path id="Path_3431" data-name="Path 3431"
												d="M297.343,146.544a14.043,14.043,0,0,1-13.837-14.211h2.975a10.865,10.865,0,1,0,21.723,0h2.975A14.043,14.043,0,0,1,297.343,146.544Z"
												transform="translate(-266.247 -108.544)" fill="#363636" />
											<path id="Path_3432" data-name="Path 3432"
												d="M302.183,132.519a7.064,7.064,0,1,1-14.122,0Z"
												transform="translate(-264.027 -108.446)" fill="#363636" />
											<path id="Path_3433" data-name="Path 3433"
												d="M320.332,134.575H273.3a1.528,1.528,0,0,1,0-3.055h47.033a1.528,1.528,0,0,1,0,3.055Z"
												transform="translate(-271.815 -108.923)" fill="#f29f05" />
											<path id="Path_3434" data-name="Path 3434"
												d="M289.154,123.4a1.507,1.507,0,0,1-1.487-1.528v-3.678a1.488,1.488,0,1,1,2.975,0v3.678A1.508,1.508,0,0,1,289.154,123.4Z"
												transform="translate(-264.154 -116.667)" fill="#f29f05" />
											<path id="Path_3435" data-name="Path 3435"
												d="M284.777,138.133H275.3a1.528,1.528,0,0,1,0-3.055h9.474a1.528,1.528,0,0,1,0,3.055Z"
												transform="translate(-270.84 -107.068)" fill="#363636" />
											<path id="Path_3436" data-name="Path 3436"
												d="M284.8,141.691h-6.5a1.528,1.528,0,0,1,0-3.055h6.5a1.528,1.528,0,0,1,0,3.055Z"
												transform="translate(-269.379 -105.218)" fill="#363636" />
										</g>
									</g>
									<text id="Quickeat-m" transform="translate(320 77)" fill="#363636" font-size="20"
										font-family="Poppins" font-weight="700">
										<tspan x="0" y="0">QUICK</tspan>
										<tspan y="0" fill="#f29f05">EAT</tspan>
									</text>
								</g>
							</svg>
						</a>
					</div>
					<ul>
						<li><a href="{% url 'home:home-page' %}">Home</a>
						</li>
						<li><a href="{% url 'home:about-page' %}">About Us</a></li>
						<li class="menu-item-has-children"><a href="JavaScript:void(0)">Restaurants</a>
							<ul class="sub-menu">
								<li><a href="{% url 'restaurant:restaurant' %}">Restaurants</a></li>
								<li><a href="{% url 'restaurant:restaurant-card' %}">Restaurant Card</a></li>
								<li><a href="{% url  'home:checkout'  %}">Checkout</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children"><a href="JavaScript:void(0)">Pages</a>
							<ul class="sub-menu">
								<li><a href="{% url 'blog:blog_page' %}">Blog</a></li>
								<li><a
										href="{% if post.last %}{% url  'blog:blog_detail' post.last.slug  %}{% else %} javascript:void(0);{% endif %}">Single
										Blog</a>
								</li>
								<li><a href="{% url  'blog:service'  %}">Services</a></li>
								<li><a href="{% url 'home:faq' %}">FAQ</a></li>
								<li><a href="{% url  'home:pricing-table'  %}">Pricing Table</a></li>
								<li><a href="{% url  'home:become-partner'  %}">Become A Partner</a></li>
								<li><a href="{% url  'home:page-not-found'  %}">404</a></li>
							</ul>
						</li>
						<li><a href="{% url  'home:contact'  %}">contacts</a></li>
					</ul>
					<a href="JavaScript:void(0)" id="res-cross"></a>
				</div>
			</div>
		</div>
	</header>
	{% if messages %}
	<div class="messages">
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	{% block content %}

	{% endblock %}
	<footer class="gap no-bottom" style="background-color: #363636;">
		<div class="container">
			<div class="row mx-0">
				<div class="col-lg-5 col-md-6 col-sm-12">
					<div class="footer-description" style="word-wrap: break-word;">
						<a href="{% url 'home:home-page' %}">
							<img src="{% static 'images/order easy.png' %}" alt="" class="foot-img" height="150px">
						</a>
						<h2>The Best Restaurants
							in Your Home</h2>
						<p>Vitae congue mauris rhoncus aenean. Enim nulla
							aliquet porttitor lacus luctus accumsan
							tortor posuere. Tempus egestas sed sed risus pretium quam.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="menu">
						<h4>Menu</h4>
						<ul class="footer-menu">
							<li><a href="{% url 'home:home-page' %}">home<i class="fa-solid fa-arrow-right"></i></a>
							</li>
							<li><a href="{% url 'home:about-page' %}">about us<i
										class="fa-solid fa-arrow-right"></i></a></li>
							<li><a href="{% url 'restaurant:restaurant' %}">Restaurants<i
										class="fa-solid fa-arrow-right"></i></a></li>
							<li><a href="{% url  'home:contact'  %}">Contacts<i class="fa-solid fa-arrow-right"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="menu contacts">
						<h4>Contacts</h4>
						<div class="footer-location">
							<i class="fa-solid fa-location-dot"></i>
							<p>1717 Harrison St, San Francisco, CA 94103,
								United States</p>
						</div>
						<a href="mailto:quickeat@mail.net"><i class="fa-solid fa-envelope"></i>quickeat@mail.net</a>
						<a href="callto:+14253261627"><i class="fa-solid fa-phone"></i>+1 425 326 16 27</a>
					</div>
					<ul class="social-media">
						<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="footer-two gap no-bottom">
				<p>Copyright © 2024. EasyMeals. All rights reserved.</p>
				<div class="privacy">
					<a href="#">Privacy Policy</a>
					<a href="#">Terms & Services</a>
				</div>
			</div>
		</div>
	</footer>

	{% block script %}
	{% endblock %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
	{% comment %}
	<script src="assets/js/jquery.nice-select.min.js"></script> {% endcomment %}
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
	<script src="{% static 'js/fast.js' %}"></script>
	<script src="{% static 'js/eat.js' %}"></script>
	<script src="{% static 'js/aos.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
	<script src="{% static 'js/ownchar.js' %}"></script>
	<!-- <script src="https://bslthemes.com/bslthms-advanced-btns/assets/script.js"></script>  -->
	<script type="module">
		import { initializeApp } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-app.js";
		import { getMessaging, getToken } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-messaging.js";
		const firebaseConfig = {
			apiKey: "AIzaSyBZgRCZexv8ErSYGyo6IpbO1Q438e-CFTA",
			authDomain: "timestint-st.firebaseapp.com",
			projectId: "timestint-st",
			storageBucket: "timestint-st.appspot.com",
			messagingSenderId: "507688135519",
			appId: "1:507688135519:web:1b3a39ef85863310fce4ea",
			measurementId: "G-6XJ70609DK"
		};
		const app = initializeApp(firebaseConfig);
		const messaging = getMessaging();
		getToken(messaging, { vapidKey: 'BHzwzJsxsIu-lTCvdZQfK1eqfCJd1tqDzGySY9DEjX6CwlZA1LB42062q2bv9uH3B2R18H_TVxbGVZl9X0yZjwI' }).then((currentToken) => {
			if (currentToken) {
				console.log("Token is : ", currentToken);
			} else {
				console.log('No registration token available. Request permission to generate one.');
			}
		}).catch((err) => {
			console.log('An error occurred while retrieving token. ', err);
			// ...
		});
	</script>
	<script>
		function toggleVisibility() {
		var content = document.getElementById("content");
		var button = document.getElementById("toggleButton");
		console.log(content,"this is test")

		if (content.style.display === "none") {
			content.style.display = "block";
			// button.innerText = "Hide";
		} else {
			content.style.display = "none";
			// button.innerText = "Show";
		}
	}
	</script>
</body>

</html>