{% extends "index.html" %}
{% load static %}
{% block content %}

<section class="forgot-password-section">
    <div class="forgot-password-container">
        <h2>Forgot Password</h2>
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}
        {% if success_message %}
            <p class="success-message">{{ success_message }}</p>
        {% endif %}
        <form method="post" action="{% url 'home:forgot_password' %}">
            {% csrf_token %}
            <div class="forgot-password-form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="forgot-password-form-group">
                <label for="mobile">Mobile Number</label>
                <input type="text" id="mobile" name="mobile" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-forgot-password">Send OTP</button>
        </form>
    </div>
</section>
{% endblock %}
