{% extends "index.html" %} {% load custom_filter %} {% load static %} {% block content %}

<section class="hero-section about gap">
    <div class="container my-5">
        <h6> 
            Hello 
            {% if request.user.first_name %}
                {{request.user.first_name}},
            {% elif request.user.username %}
                {{request.user.username}},
            {% endif %}
        </h6>
        <h3 class="fw-bold">
            Today's Summary
        </h3>
        <div class="row mx-0">
            <div class="col-lg-4 mb-3">
                <div class="work-card service p-3">
                    <div class="text-start">
                        <p class="m-0 px-2">Sales</p>
                        <h4 class="p-2">${{today_kpi.total_amount}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">

                <div class="work-card service p-3">
                    <div class="text-start">
                        <p class="m-0 px-2">Orders</p>
                        <h4 class="p-2">{{today_kpi.order_count}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="work-card service p-3">
                    <div class="text-start">
                        <p>Averge Sale</p>
                        <h4 class="p-2">${{today_kpi.average}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock %}