{% extends "index.html" %}
{% block content %}


<section class="reset-password-section">
    <div class="reset-password-container">
        <h2>Reset Password</h2>
        <form method="post" action="{% url 'home:reset_password' user_id=user.id %}">
            {% csrf_token %}
            <div class="reset-password-form-group">
                <label for="password">New Password</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="reset-password-form-group">
                <label for="password_confirm">Confirm Password</label>
                <input type="password" id="password_confirm" name="password_confirm" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-reset-password">Reset Password</button>
        </form>
    </div>
</section>
{% endblock %}
