{% extends "index.html" %}
{% load custom_filter %}
{% load static %}
{% block content %}
<style>
	.fixed-header{
		position: sticky;
		top: 0;
		z-index:500;
		padding-bottom: 30px !important;
		background-image: url('https://bslthemes.com/html/quickeat/assets/img/background-1.png');
	}
	
.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 79vh; 
}



.custom-btn-yes {
    background-color: #28a745; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 15px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease; 
}

.custom-btn-yes:hover {
    background-color: #218838; 
    box-shadow: 0 4px 8px rgba(40, 167, 69, 0.2); 
}

.custom-btn-no {
    background-color: #dc3545; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 15px; 
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

.custom-btn-no:hover {
    background-color: #c82333; 
    box-shadow: 0 4px 8px rgba(220, 53, 69, 0.2); 
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.popup-close {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


	
</style>
<div id="cart-message" class="d-flex justify-content-center"></div>
<div class="menu-layer">
  <div class="cart-overlay">
	<div id="toast-container" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000; display: none;">
		<div id="toast" style="background-color: #4caf50; color: white; padding: 15px; border-radius: 5px;">
			Item added to cart successfully!
		</div>
	</div>
	<!-- new design -->
	<section class="hero-section about gap pt-0" style="background-image: url('https://bslthemes.com/html/quickeat/assets/img/background-1.png');">
		<img loading="lazy" src="{% if restaurant.image %}{{ restaurant.image.url }}{% else %}{% static 'images/order-easy.png' %}{% endif %}" alt="{{restaurant.title}}" class="img-fluid w-100 " style="height: 400px; object-fit: cover; filter: brightness(0.8);">
		<div class="container-fluid mt-5 position-relative">
			<div class="position-relative">
				<div class="d-flex flex-column align-items-start justify-content-center" style="position: absolute; bottom: -45px; padding: 30px;">
					<ul class="breadcrumb p-0 mb-5 d-flex align-items-center" style="background: none;">
						<li class="breadcrumb-item"><a href="{% url 'home:home-page' %}" class="text-decoration-none" style="color: white !important;">Home</a></li>
						<li class="breadcrumb-item"><a href="{% url 'restaurant:restaurant' %}" class="text-decoration-none" style="color: white !important;"><i class="fa-solid fa-right-long mx-1"></i> Restaurants </a></li>
						<li class="two">
							<a href="{% url 'restaurant:restaurant-card' restaurant.slug %}" style="color: white !important;">
								<i class="fa-solid fa-right-long mx-1"></i> <b>{{ restaurant.title }}</b>
							</a>
						</li>					
					</ul>
					<div class="d-flex align-items-center container">
						<div class="d-flex align-items-center container">
							<div class="row">
								<div class="col-md-2">
									<img loading="lazy" src="{% if restaurant.logo %}{{ restaurant.logo.url }}{% else %}{% static 'images/order-easy.png' %}{% endif %}" alt="{{restaurant.title}}" class="rounded-circle me-3" style="width: 100px; object-fit: cover; height: 100px;">
								</div>
								<div class="col-md-10">
									<div>
										<h4 class="mb-0" style="font-size: 2rem; font-weight: bold; color: white;">{{restaurant.title}}</h4>
										<div class="d-flex align-items-center mb-3">
											<span class="me-2 text-light">Rate:</span>
											<div class="star d-flex">
												{% for i in restaurant.rating|range_custom %}
												<i class="fa-solid fa-star text-warning"></i>
												{% endfor %}
												{% for i in restaurant.rating|range_diff:5 %}
												<i class="fa-regular fa-star text-warning"></i>
												{% endfor %}
											</div>
										</div>
										<div class="d-flex">
											<button class="book-table-btn" id="openModal" data-bs-toggle="modal" data-bs-target="#exampleModal2">More Info</button>
											<button type="button" id="bookTableButton" class="book-table-btn mx-1" data-bs-toggle="modal" data-bs-target="#booktable">Book A Table</button>
											<button class="feedback-btn book-table-btn" id="openFeedbackModal">Feedback</button>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						<div id="feedbackModal" class="modal-feedback">
							<div class="modal-content-feedback">
							  <span class="close-feedback-btn" id="closeFeedbackModal">&times;</span>
							  <h3 class="text-warning">Leave Your Feedback</h3>
							  <form id="feedbackForm" method="POST" action="{% url 'home:submit_feedback' slug=restaurant.slug %}">
								{% csrf_token %}
								<div class="form-group">
								  <label for="rating">Rating:</label>
								  <input type="number" name="rating" id="rating" class="form-control" min="0" max="5" step="0.1" required>
								</div>
								<div class="form-group">
								  <label for="review">Review:</label>
								  <textarea name="review" id="review" class="form-control" rows="4"></textarea>
								</div>
								<button type="submit" class="btn-submit-feedback">Submit Feedback</button>
							  </form>
							</div>
						</div>
						<div class="modal fade exampleModal-3" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"  aria-labelledby="staticBackdropLabel" aria-hidden="true" >
							<div class="modal-dialog" >
								<div class="modal-content">
									<div class="modal-body" style="background-image: url(/static/images/background-1.png);object-fit: cover; ">
										<div class="modal-content p-3 text-center border-0" style="background-color: transparent;">
											<h4>Do you want to delete the previous order?</h4>
											<div class="modal-actions mt-4">
												<button id="confirmDeleteBtn" class="btn custom-btn-yes">Yes</button>
												<button id="cancelDeleteBtn" class="btn custom-btn-no">No</button>
											</div>	
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- New success modal for item deletion -->
						<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
							<div class="modal-dialog" >
								<div class="modal-content" >
									<div class="modal-body"  style="background-image: url(/static/images/background-1.png); object-fit: cover;" >
										<div class="modal-content p-3 border-0"  style="background-color: transparent;">
											<h4 class="text-center pb-2">Your previous items have been deleted successfully.</h4>
											<div class="modal-actions text-center">
												<button id="closeSuccessModal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- The Modal -->
						<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
								<h3 class="modal-title text-warning" id="exampleModalLabel">More Information</h3>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body ">
									<div class="modal-content p-3 ">
										<div class="restaurant-card" data-address="{{ restaurant.address }}" data-latitude="{{ restaurant.latitude }}" data-longitude="{{ restaurant.longitude }}" data-vip="{{ restaurant.vip }}">
											{% if restaurant.start and restaurant.end %}
											<p><b>{{ restaurant.start }}</b> To <b>{{ restaurant.end }}</b></p>
											{% endif %}								
											<span>
												{% if restaurant.start|is_restaurant_open:restaurant.end %}
													<b><span class="text-success">Open</span></b>
												{% else %}
													<b><span class="text-danger">Closed</span></b>
												{% endif %}
											</span>
											{% comment %} {% if restaurant.lowest_price %}
											<p><strong>Delivery starts from:</strong> ${{ restaurant.lowest_price }}</p>
											{% else %}
											<p><strong>Delivery starts from:</strong>0$</p>
											{% endif %} {% endcomment %}
											<p class="distance">Distance: Calculating...</p>
										</div>
										</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="tabs gap">
		<div class="container">
			<div class="">
				<div class="row">
					<div class="popup-overlay" style="display: none; ">
						<div class="popup-content py-4" style="background-image: url(/static/images/background-1.png);object-fit: cover;">
							<h4 class="popup-message"></h4>
							<button class="popup-close btn btn-secondary ">Close</button>
						</div>
					</div>
					
					<div class="col-md-12 align-item-center gap-3 d-flex justify-content-end">
						<div class="alert alert-danger me-auto" style="display:none" id="deliveryWarn">
							Delivery is only allowed for 15km distance range
						</div>
						<div class="switch-wrap pick_del">
							<label class="switch">
								<span id="delivery-option" data-resid="{{restaurant.id}}" class="switch-delivery active switch-ot" data-id="Delivery">
									Delivery
								</span>
								<span id="pickup-option" data-resid="{{restaurant.id}}" class="switch-pickup switch-ot" data-id="Pickup">
									Pickup
								</span>
							</label>
						</div>
					</div>
				</div>
				<div class="row mx-0 pt-4">
					<div class="col-lg-3 px-0 pe-md-2">
						<div class="dish h-100 mt-0">
							<h4 class="mb-4"><b>Categories</b></h4>
							<ul class="menu-categories list-unstyled">
								<li class="mb-3">
									<h4 class="text-secondary">
										<a href="{% url 'restaurant:restaurant-card' slug=restaurant.slug %}" class="{% if not request.resolver_match.kwargs.category %}highlighted{% endif %}">
											All
										</a>
									</h4>
								</li>
								{% for cat in category %}
									<li class="mb-3">
										<h4 class="text-secondary">
											<a href="{% url 'restaurant:restaurant-card-category' slug=restaurant.slug category=cat.slug %}" class="{% if request.resolver_match.kwargs.category == cat.slug %}highlighted{% endif %}">
												{{ cat.title }}
											</a>
										</h4>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="col-lg-9 px-0 ps-md-2">
						<div class="dish mt-0">
							{% comment %} <h3 class="mb-4">Cuisines by Category: {{ selected_category|default:"All" }}</h3> {% endcomment %}
							<div class="row">
								{% if fooditems %}
									{% for item in fooditems %}
										<div class="col-md-4 mt-3">
											<div class="card shadow-sm mb-4 h-100 hover-card">
												{% if item.image %}
													<img src="{{ item.image.url }}" style="height: 300px !important; width: 100%!important; object-fit: fill;" alt="{{ item.title }}">
												{% endif %}
												<div class="card-body">
													<h5 class="card-title">{{ item.title }}</h5>
													<p class="card-text">
														<strong>Price:</strong> ${{ item.price }}<br>
														<strong>Available:</strong> {% if item.available %}Yes{% else %}No{% endif %}<br>
														{% if item.start %}
															<strong>Start Time:</strong> {{ item.start|date:"H:i" }}<br>
														{% endif %}
														{% if item.end %}
															<strong>End Time:</strong> {{ item.end|date:"H:i" }}
														{% endif %}
													</p>
													<div class="cart-actions">
														<input type="number" class="qty-input" value="1" min="1" hidden>
														<input type="hidden" class="carditem{{item.id}}">
														
														{% if restaurant.start|is_restaurant_open:restaurant.end %}
														<button class="btn add-to-cart" style="background-color:#F29F05; color: white;" data-id="{{ item.id }}" data-title="{{ item.title }}" data-image="{% if item.image %}{{ item.image.url }}{% endif %}" data-price="{{ item.price }}">Add to Cart</button>
														{% else %}
														<button class="btn btn-secondary " disabled>Closed</button>
														{% endif %}
														
														<button class="btn btn-danger decrease-qty d-none" data-id="{{ item.id }}">-</button>
														<span class="item-quantity d-none" data-id="{{ item.id }}" style="margin-left: 10px;">Qty: 0</span> 
														<button class="btn btn-danger increase-qty d-none" data-id="{{ item.id }}">+</button>
													</div>		  
												</div>
											</div>
										</div>
									{% endfor %}
								{% else %}
									<p>No cuisines available for this category.</p>
								{% endif %}
							</div>	
						</div>
					</div>                              
				</div>				
			</div>
		</div>
	</section>
</div>

<!-- Modal -->
<div class="modal fade" id="booktable" tabindex="-1" role="dialog" aria-labelledby="booktableLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-warning" id="booktableLabel">Make a table reservation</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="post">
					{% csrf_token %}
					<div class="form-group">
						<p>Please select the number of people and the required date and time</p>
					</div>
					<div class="form-group">
						<input type="text" name="name" id="name" placeholder="Your Name" class="form-control" required>
					</div>
					<div class="form-group">
						<input type="email" name="email" id="email" placeholder="Your Email" class="form-control" required>
					</div>
					<div class="form-group">
						<input type="number" name="phone" id="phone" placeholder="Your Phone" class="form-control" required>
					</div>
					<div class="form-group">
						<input type="text" id="BookingDate" class="form-control input datepicker checkin" name="date" placeholder="Choose date" required>
					</div>									
					<div class="form-group">
						<select class="form-control required" id="BookingTime" name="time" required>
							<option value="">Select time</option>
							{% for slot in time_slots %}
								<option value="{{ slot }}">{{ slot }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<select name="member" id="Persons" class="form-control" required>
							<option value="1">1 person</option>
							<option selected value="2">2 people</option>
							<option value="3">3 people</option>
						</select>
					</div>
					<div class="form-group">
						<button class="btn-submit" type="submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script_js %}
<script>
	$(".add-to-cart").on("click", function() {
		var item_id = $(this).data("id");
		var otype = localStorage.getItem('order_type');
		var rdistance = localStorage.getItem('rdistance{{restaurant.id}}');
	
		$.ajax({
			url: '{% url "restaurant:add_to_cart" %}',
			method: 'POST',
			data: {
				csrfmiddlewaretoken: '{{ csrf_token }}',
				'item_id': item_id,
				'restaurant_id': "{{restaurant.id}}",
				'order_type': otype ? otype : 'Delivery',
				'rdistance': rdistance ? rdistance : 0,
			},
			success: function(res) {
				if (res.status === 'rchange') {
					$('#staticBackdrop').modal('show');
					$('#confirmDeleteBtn').on('click', function() {
						$.ajax({
							url: '{% url "restaurant:clear_cart" %}', 
							method: 'POST',
							data: {
								csrfmiddlewaretoken: '{{ csrf_token }}',
							},
							success: function(response) {
								if (response.status === 'success') {
									$('#staticBackdrop').modal('hide');									
									$('#successModal').modal('show');
									cartupdate(res);
								}
							},
							error: function() {
								$("#cart-message").html(`
									<div class="alert alert-danger alert-dismissible fade show" role="alert">
										Failed to delete previous items.
										<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
									</div>
								`);							}
						});
					});
						$('#cancelDeleteBtn').on('click', function() {
						$('#staticBackdrop').modal('hide');
					});
				} else {
					cartupdate(res);
				}
			}
		});
	});
</script>

<script>
	var feedbackModal = document.getElementById("feedbackModal");
	var feedbackBtn = document.getElementById("openFeedbackModal");
	var feedbackClose = document.getElementById("closeFeedbackModal");
	feedbackBtn.onclick = function() {
		feedbackModal.style.display = "block";
	}
	feedbackClose.onclick = function() {
		feedbackModal.style.display = "none";
	}
	window.onclick = function(event) {
		if (event.target == feedbackModal) {
		feedbackModal.style.display = "none";
		}
	}
</script>
<script>
	function initAutocomplete() {
		var input = document.getElementById('location-input-2');
		var autocomplete = new google.maps.places.Autocomplete(input);
		autocomplete.setFields(['address_components', 'geometry', 'name']);
		autocomplete.addListener('place_changed', function () {
			var place = autocomplete.getPlace();
			var address = place.name;
			var latitude = place.geometry.location.lat();
			var longitude = place.geometry.location.lng();
			document.getElementById('address-2').value = address;
			document.getElementById('latitude-2').value = latitude;
			document.getElementById('longitude-2').value = longitude;
			document.getElementById('location-form-2').submit();
		});
	}
	google.maps.event.addDomListener(window, 'load', initAutocomplete);
</script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		flatpickr("#BookingDate", {
			dateFormat: "Y-m-d",
			minDate: "today",
		});
		setTimeout(() => {
			var resid = "{{restaurant.id}}";
			var distance = parseFloat(localStorage.getItem('rdistance'+resid));
			if (distance > 15) {
				// $(".switch-wrap .switch-ot").click();
				document.getElementById("pickup-option").click();
			} else {
				document.getElementById("delivery-option").click();
			}
		}, 1000);
	});
</script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}