{% extends "index.html" %}
{% load custom_filter %}
{% load static %}
{% block content %}
<style>
	.fixed-header{
		position: sticky;
		top: 0;
		z-index:500;
		padding-bottom: 30px !important;
		background-image: url('https://bslthemes.com/html/quickeat/assets/img/background-1.png');
	}
	
</style>
<div class="menu-layer">
  <div class="cart-overlay">
	<div id="toast-container" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000; display: none;">
		<div id="toast" style="background-color: #4caf50; color: white; padding: 15px; border-radius: 5px;">
			Item added to cart successfully!
		</div>
	</div>
	<!-- <section class="hero-section about gap" style="background-image: url(https://bslthemes.com/html/quickeat/assets/img/background-1.png);">
		<div class="container mt-5">
			<div class="row align-items-center mx-0">
				<div class="col-lg-6" data-aos="fade-up"  data-aos-delay="300" data-aos-duration="400">
					<div class="about-text">
						<ul class="crumbs d-flex">
							<li><a href="{ % url 'home:home-page'  %}">Home</a></li>
							<li><a href="{%  url  'restaurant:restaurant'  %}"><i class="fa-solid fa-right-long"></i>Restaurants</a></li>
							<li class="two"><a href="{% url 'home:home-page' %}"><i class="fa-solid fa-right-long"></i>{{ restaurant.title }}</a></li>
						</ul>
						<div class="logo-detail">
							<img alt="{{restaurant.title}}" src="{{ restaurant.logo.url }}">
							<h2>{{restaurant.title}}</h2>
						</div>
						<div class="rate">
							<span>Rate:</span>
							<div class="star">
								{% for i in restaurant.rating|range_custom %}
									<i class="fa-solid fa-star"></i>
								{% endfor %}
								{% for i in restaurant.rating|range_diff:5 %}
									<i class="fa-regular fa-star"></i>
								{% endfor %}
							</div>
							<span>CUISINES:</span>
							<div class="cafa-button">
								{% for categorys in cat %}
								<a class="end" href="">{{categorys.title}}</a>
								{% endfor %}
							</div>
							<span>FEATURES:</span>
							<p>{{ restaurant.content }}</p>
							<div class="restaurant-card" data-latitude="{{ restaurant.latitude }}" data-longitude="{{ restaurant.longitude }}">
								{% if restaurant.start and restaurant.end %}
								<p><b>{{ restaurant.start }}</b> To <b>{{ restaurant.end }}</b></p>
								{% endif %}								
								<span>
									{% if restaurant.start|is_restaurant_open:restaurant.end %}
										<span class="text-success">Open</span>
									{% else %}
										<span class="text-danger">Closed</span>
									{% endif %}
								</span>
								{% if restaurant.lowest_price %}
								<p><strong>Delivery starts from:</strong> NZ${{ restaurant.lowest_price }}</p>
								{% else %}
								<p><strong>Delivery starts from:</strong>0NZ$</p>
								{% endif %}
								<p class="distance">Distance: Calculating...</p>
							</div>							
						</div>
					</div>
				</div>
				<div class="col-lg-6" data-aos="fade-up"  data-aos-delay="400" data-aos-duration="500">
					<div class="about-img">
						<img alt="man" src="{% static 'images/restaurant-1.jpg' %}">
						<div class="hours">
							<i class="fa-regular fa-clock"></i>
							<h4>{% if restaurant.start and restaurant.end %}
								{{ restaurant.start }} To {{ restaurant.end }}
								{% endif %}	<br><span>Hours</span></h4>
						</div>
						<div class="hours two">
							<i class="fa-solid fa-utensils"></i>
							<h4>Breakfast, Lunch, Dinner<br><span>Meals</span></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- new design -->
	<section class="hero-section about gap pt-0" style="background-image: url('https://bslthemes.com/html/quickeat/assets/img/background-1.png');">
		<img loading="lazy" src="{% if restaurant.image %}{{ restaurant.image.url }}{% else %}{% static 'images/order-easy.png' %}{% endif %}" alt="{{restaurant.title}}" class="img-fluid w-100 " style="height: 400px; object-fit: cover; filter: brightness(0.8);">
		<div class="container-fluid mt-5 position-relative">
			<div class="position-relative">
				<div class="d-flex flex-column align-items-start justify-content-center" style="position: absolute; bottom: -45px; padding: 30px;">
					<ul class="breadcrumb p-0 mb-5 d-flex align-items-center" style="background: none;">
						<li class="breadcrumb-item"><a href="{% url 'home:home-page' %}" class="text-decoration-none" style="color: white !important;">Home</a></li>
						<li class="breadcrumb-item"><a href="{% url 'restaurant:restaurant' %}" class="text-decoration-none" style="color: white !important;"><i class="fa-solid fa-right-long mx-1"></i> Restaurants </a></li>
						<li class="two">
							<a href="{% url 'restaurant:restaurant-card' restaurant.slug %}" style="color: white !important;">
								<i class="fa-solid fa-right-long mx-1"></i> <b>{{ restaurant.title }}</b>
							</a>
						</li>					
					</ul>
					<div class="d-flex align-items-center container">
						<div class="d-flex align-items-center container">
							<div class="row">
								<div class="col-md-2">
									<img loading="lazy" src="{% if restaurant.logo %}{{ restaurant.logo.url }}{% else %}{% static 'images/order-easy.png' %}{% endif %}" alt="{{restaurant.title}}" class="rounded-circle me-3" style="width: 100px; object-fit: cover; height: 100px;">
								</div>
								<div class="col-md-10">
									<div>
										<h4 class="mb-0" style="font-size: 2rem; font-weight: bold; color: white;">{{restaurant.title}}</h4>
										<div class="d-flex align-items-center mb-3">
											<span class="me-2 text-light">Rate:</span>
											<div class="star d-flex">
												{% for i in restaurant.rating|range_custom %}
												<i class="fa-solid fa-star text-warning"></i>
												{% endfor %}
												{% for i in restaurant.rating|range_diff:5 %}
												<i class="fa-regular fa-star text-warning"></i>
												{% endfor %}
											</div>
										</div>
										<div class="d-flex">
											<button class="book-table-btn" id="openModal" data-bs-toggle="modal" data-bs-target="#exampleModal2">More Info</button>
											<button type="button" id="bookTableButton" class="book-table-btn mx-1" data-bs-toggle="modal" data-bs-target="#booktable">Book A Table</button>
											<button class="feedback-btn book-table-btn" id="openFeedbackModal">Feedback</button>
											<button class="book-table-btn" id="openModal" data-bs-toggle="modal" data-bs-target="#exampleModal-3" hidden>More Info</button>

										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="feedbackModal" class="modal-feedback">
							<div class="modal-content-feedback">
							  <span class="close-feedback-btn" id="closeFeedbackModal">&times;</span>
							  <h3 class="text-warning">Leave Your Feedback</h3>
							  <form id="feedbackForm" method="POST" action="{% url 'home:submit_feedback' slug=restaurant.slug %}">
								{% csrf_token %}
								<div class="form-group">
								  <label for="rating">Rating:</label>
								  <input type="number" name="rating" id="rating" class="form-control" min="0" max="5" step="0.1" required>
								</div>
								<div class="form-group">
								  <label for="review">Review:</label>
								  <textarea name="review" id="review" class="form-control" rows="4"></textarea>
								</div>
								<button type="submit" class="btn-submit-feedback">Submit Feedback</button>
							  </form>
							</div>
						</div>
						<div class="modal fade" id="exampleModal-3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body ">
									<div class="modal-content p-3 ">
										<h4>Do you want to delete prvious order </h4>
										<div class="modal-actions text-center">
										  <button id="confirmDeleteBtn" class="btn btn-danger">Yes</button>
										  <button id="cancelDeleteBtn" class="btn btn-secondary">No</button>
										</div>	
									</div>
								</div>
							</div>
							</div>
						</div>
						<!-- The Modal -->
						<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
								<h3 class="modal-title text-warning" id="exampleModalLabel">More Information</h3>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body ">
									<div class="modal-content p-3 ">
										<div class="restaurant-card" data-latitude="{{ restaurant.latitude }}" data-longitude="{{ restaurant.longitude }}" data-vip="{{ restaurant.vip }}">
											{% if restaurant.start and restaurant.end %}
											<p><b>{{ restaurant.start }}</b> To <b>{{ restaurant.end }}</b></p>
											{% endif %}								
											<span>
												{% if restaurant.start|is_restaurant_open:restaurant.end %}
													<b><span class="text-success">Open</span></b>
												{% else %}
													<b><span class="text-danger">Closed</span></b>
												{% endif %}
											</span>
											{% comment %} {% if restaurant.lowest_price %}
											<p><strong>Delivery starts from:</strong> ${{ restaurant.lowest_price }}</p>
											{% else %}
											<p><strong>Delivery starts from:</strong>0$</p>
											{% endif %} {% endcomment %}
											<p class="distance">Distance: Calculating...</p>
										</div>
										</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					{% comment %} <!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
								<h2 class="modal-title text-warning" id="exampleModalLabel">Make a table reservation</h2>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<form method="post" class="booking-form select-date-time-form" id="reservationForm" novalidate="novalidate">
										{% csrf_token %}
										<div class="form-group">
											<p>Please select the number of people and the required date and time</p>
										</div>
										<div class="form-group">
											<input type="text" name="name" id="name" placeholder="Your Name" class="form-control" required="required">
										</div>
										<div class="form-group">
											<input type="email" name="email" id="email" placeholder="Your Email" class="form-control" required>
										</div>
										<div class="form-group">
											<input type="number" name="phone" id="phone" placeholder="Your Phone" class="form-control" required>
										</div>
										<div class="form-group">
											<input type="text" id="BookingDate" class="form-control input datepicker checkin" name="date" placeholder="Choose date">
										</div>									
										<div class="form-group">
											<select class="form-control required" id="BookingTime" name="time">
												<option value="">Select time</option>
												{% for slot in time_slots %}
													<option value="{{ slot }}">{{ slot }}</option>
												{% endfor %}
											</select>
										</div>
										<div class="form-group">
											<select name="member" id="Persons" class="form-control">
												<option value="1">1 person</option>
												<option selected value="2">2 people</option>
												<option value="3">3 people</option>
											</select>
										</div>
										<div class="form-group">
											<button class="btn-submit" type="submit">Next</button>
										</div>
									</form>
								</div>
							</div>
							</div>
						</div> {% endcomment %}
						{% comment %} <div id="bookTableModal" class="modal">
							<div class="modal-content">
								<span class="close-button">&times;</span>
								<form method="post" class="booking-form select-date-time-form" id="reservationForm" novalidate="novalidate">
									{% csrf_token %}
									<h2>Make a table reservation</h2>
									<div class="form-group">
										<p>Please select the number of people and the required date and time</p>
									</div>
									<div class="form-group">
										<input type="text" name="name" id="name" placeholder="Your Name" class="form-control required">
									</div>
									<div class="form-group">
										<input type="email" name="email" id="email" placeholder="Your Email" class="form-control required">
									</div>
									<div class="form-group">
										<input type="number" name="phone" id="phone" placeholder="Your Phone" class="form-control required">
									</div>
									<div class="form-group">
										<input type="text" id="BookingDate" class="form-control input datepicker checkin required" name="date" placeholder="Choose date">
									</div>									
									<div class="form-group">
										<select class="form-control required" id="BookingTime" name="time">
											<option value="">Select time</option>
											{% for slot in time_slots %}
												<option value="{{ slot }}">{{ slot }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="form-group">
										<select name="member" id="Persons" class="form-control">
											<option value="1">1 person</option>
											<option selected value="2">2 people</option>
											<option value="3">3 people</option>
										</select>
									</div>
									<div class="form-group">
										<button class="btn-submit" type="submit">Next</button>
									</div>
								</form>
							</div>
						</div> {% endcomment %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- tabs -->
	{% comment %} <section class="tabs gap">
		<div class="container">
			<div class="tabs-img-back">
				<div class="row">
					<div class="col-lg-12">
						<div class="Provides" data-aos="fade-up" data-aos-delay="200" data-aos-duration="300">
							<div class="nav nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
								<button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
									data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
									aria-selected="true">Breakfast</button>
								<button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
									data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
									aria-selected="false">Lunch</button>
								<button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
									data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
									aria-selected="false">Dinner</button>
							</div>
							<div class="like-meal">
								<a href=""><i class="fa-solid fa-heart"></i>Like Meals</a>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="tab-content" id="v-pills-tabContent">
							<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
								aria-labelledby="v-pills-home-tab">
								<div class="row">
									{% for menu in breakfast_items %}
										<div class="col-xl-4 col-lg-6" data-aos="flip-up" data-aos-delay="200" data-aos-duration="300">
											<div class="dish">
												<img loading="lazy" alt="food-dish" class="img-fluid" src="{{ menu.cuisine.image.url }}">
												<div class="dish-foods">
													<h3>{{ menu.cuisine.title }}</h3>
													<div class="dish-icon">
														<div class="cafa-button">
															<a href="">{{ menu.keyword }}</a>
														</div>
														<div class="dish-icon end">
															<i class="info fa-solid fa-circle-info"></i>
															<div class="star">
																<a href=""><i class="fa-solid fa-heart"></i></a>
															</div>
														</div>
													</div>
													<div class="price">
														<h2>${{ menu.price }}</h2>
														<div class="qty-input">
															<button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
															<input class="product-qty" type="number" name="product-qty" min="0" value="1">
															<button class="qty-count qty-count--add" data-action="add" type="button">+</button>
														</div>
													</div>
													<button class="button-price">Add to Basket<i class="fa-solid fa-bag-shopping"></i></button>
												</div>
												<div class="dish-info" style="display: none;">
													<i class="info2 fa-solid fa-xmark"></i>
													<h5>{{ menu.cuisine.title }}</h5>
													<div class="cafa-button">
														<a href="">{{ menu.keyword }}</a>
													</div>
													<p>{{ menu.meta_description }}</p>
													<ul class="menu-dish">
														<li>{{ menu.meta_title }}</li>
													</ul>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
								<div class="row">
									{% for menu in lunch_items %}
										<div class="col-xl-4 col-lg-6">
											<div class="dish">
												<img loading="lazy" alt="food-dish" class="img-fluid" src="{{ menu.cuisine.image.url }}" >
												<div class="dish-foods">
													<h3>{{ menu.cuisine.title }}</h3>
													<div class="dish-icon">
														<div class="cafa-button">
															<a href="">{{ menu.keyword }}</a>
														</div>
														<div class="dish-icon end">
															<i class="info fa-solid fa-circle-info"></i>
															<div class="star">
																<a href=""><i class="fa-solid fa-heart"></i></a>
															</div>
														</div>
													</div>
													<div class="price">
														<h2>${{ menu.price }}</h2>
														<div class="qty-input">
															<button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
															<input class="product-qty" type="number" name="product-qty" min="0" value="1">
															<button class="qty-count qty-count--add" data-action="add" type="button">+</button>
														</div>
													</div>
													<button class="button-price">Add to Basket<i class="fa-solid fa-bag-shopping"></i></button>
												</div>
												<div class="dish-info" style="display: none;">
													<i class="info2 fa-solid fa-xmark"></i>
													<h5>{{ menu.cuisine.title }}</h5>
													<div class="cafa-button">
														<a href="">{{ menu.keyword }}</a>
													</div>
													<p>{{ menu.meta_description }}</p>
													<ul class="menu-dish">
														<li>{{ menu.meta_title }}</li>
													</ul>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
							<!-- Dinner Tab -->
							<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
								<div class="row">
									{% for menu in dinner_items %}
										<div class="col-xl-4 col-lg-6">
											<div class="dish">
												<img alt="food-dish" class="img-fluid" src="{% if menu.cuisine.image %}{{ menu.cuisine.image.url }}{% endif %} " loading="lazy">
												<div class="dish-foods">
													<h3>{{ menu.cuisine.title }}</h3>
													<div class="dish-icon">
														<div class="cafa-button">
															<a href="">{{ menu.keyword }}</a>
														</div>
														<div class="dish-icon end">
															<i class="info fa-solid fa-circle-info"></i>
															<div class="star">
																<a href=""><i class="fa-solid fa-heart"></i></a>
															</div>
														</div>
													</div>
													<div class="price">
														<h2>${{ menu.price }}</h2>
														<div class="qty-input">
															<button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
															<input class="product-qty" type="number" name="product-qty" min="0" value="1">
															<button class="qty-count qty-count--add" data-action="add" type="button">+</button>
														</div>
													</div>
													<button class="button-price">Add to Basket<i class="fa-solid fa-bag-shopping"></i></button>
												</div>
												<div class="dish-info" style="display: none;">
													<i class="info2 fa-solid fa-xmark"></i>
													<h5>{{ menu.cuisine.title }}</h5>
													<div class="cafa-button">
														<a href="">{{ menu.keyword }}</a>
													</div>
													<p>{{ menu.meta_description }}</p>
													<ul class="menu-dish">
														<li>{{ menu.meta_title }}</li>
													</ul>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>{% endcomment %}

	<section class="container">
		
	</section>
	
	
	<section class="tabs gap">
		<div class="container">
			<div class="">
				<div class="row">
					<div class="col-md-12 d-flex justify-content-end">
						<div class="switch-wrap pick_del">
							<label class="switch">
								<span id="delivery-option" class="switch-delivery active switch-ot" data-id="Delivery">
									Delivery
								</span>
								<span id="pickup-option" class="switch-pickup switch-ot" data-id="Pickup">
									Pickup
								</span>
							</label>
						</div>
					</div>
				</div>
				<div class="row mx-0 pt-4">
					<div class="col-lg-3 px-0 pe-md-2">
						<div class="dish h-100 mt-0">
							<h4 class="mb-4"><b>Categories</b></h4>
							<ul class="menu-categories list-unstyled">
								<li class="mb-3">
									<h4 class="text-secondary">
										<a href="{% url 'restaurant:restaurant-card' slug=restaurant.slug %}" class="{% if not request.resolver_match.kwargs.category %}highlighted{% endif %}">
											All
										</a>
									</h4>
								</li>
								{% for cat in category %}
									<li class="mb-3">
										<h4 class="text-secondary">
											<a href="{% url 'restaurant:restaurant-card-category' slug=restaurant.slug category=cat.slug %}" class="{% if request.resolver_match.kwargs.category == cat.slug %}highlighted{% endif %}">
												{{ cat.title }}
											</a>
										</h4>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="col-lg-9 px-0 ps-md-2">
						<div class="dish mt-0">
							{% comment %} <h3 class="mb-4">Cuisines by Category: {{ selected_category|default:"All" }}</h3> {% endcomment %}
							<div class="row">
								{% if fooditems %}
									{% for item in fooditems %}
										<div class="col-md-4 mt-3">
											<div class="card shadow-sm mb-4 h-100 hover-card">
												{% if item.image %}
													<img src="{{ item.image.url }}" style="height: 300px !important; width: 100%!important; object-fit: fill;" alt="{{ item.title }}">
												{% endif %}
												<div class="card-body">
													<h5 class="card-title">{{ item.title }}</h5>
													<p class="card-text">
														<strong>Price:</strong> ${{ item.price }}<br>
														<strong>Available:</strong> {% if item.available %}Yes{% else %}No{% endif %}<br>
														{% if item.start %}
															<strong>Start Time:</strong> {{ item.start|date:"H:i" }}<br>
														{% endif %}
														{% if item.end %}
															<strong>End Time:</strong> {{ item.end|date:"H:i" }}
														{% endif %}
													</p>
													<div class="cart-actions">
														<input type="number" class="qty-input" value="1" min="1" hidden>
														<input type="hidden" class="carditem{{item.id}}">
														
														{% if restaurant.start|is_restaurant_open:restaurant.end %}
														<button class="btn add-to-cart" style="background-color:#F29F05; color: white;" data-id="{{ item.id }}" data-title="{{ item.title }}" data-image="{% if item.image %}{{ item.image.url }}{% endif %}" data-price="{{ item.price }}">Add to Cart</button>
														{% else %}
														<button class="btn btn-secondary " disabled>Closed</button>
														{% endif %}
														
														<button class="btn btn-danger decrease-qty d-none" data-id="{{ item.id }}">-</button>
														<span class="item-quantity d-none" data-id="{{ item.id }}" style="margin-left: 10px;">Qty: 0</span> 
														<button class="btn btn-danger increase-qty d-none" data-id="{{ item.id }}">+</button>
													</div>
															  
												</div>
											</div>
										</div>
									{% endfor %}
								{% else %}
									<p>No cuisines available for this category.</p>
								{% endif %}
							</div>	
						</div>
					</div>                              
				</div>				
			</div>
		</div>
	</section>
   <!-- Lunch Section -->
   <!-- <section class="lunch-section gap" style="background:#fcfcfc">
    <div class="container">
        <h2 data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">See also category Lunch</h2>
        <div class="row">
            {% for item in lunch_items %}
            <div class="col-xl-4 col-lg-6" data-aos="flip-up" data-aos-delay="200" data-aos-duration="300">
                <div class="dish">
                    <img alt="food-dish" src="{% if item.cuisine %}{{ item.cuisine.image.url }}{% endif %}" class="img-fluid">
                    <div class="dish-foods">
                        <h3>{{ item.cuisine.title }}</h3>
                        <div class="dish-icon">
                            <div class="cafa-button">
                                <a href="">{{ item.cuisine.category.title }}</a>
                                {% comment %} <a href="">{{ item.cuisine.title }}</a> {% endcomment %}
                            </div>
                            <div class="dish-icon end">
                                <i class="info fa-solid fa-circle-info"></i>
                                <div class="star">
                                    <a href=""><i class="fa-solid fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <h2>NZ${{ item.price }}</h2>
                            <div class="qty-input">
                                <button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
                                <input class="product-qty" type="number" name="product-qty" min="0" value="1">
                                <button class="qty-count qty-count--add" data-action="add" type="button">+</button>
                            </div>
                        </div>
                        <button class="button-price">Add to Basket<i class="fa-solid fa-bag-shopping"></i></button>
                    </div>
                    <div class="dish-info" style="display: none;">
                        <i class="info2 fa-solid fa-xmark"></i>
                        <h5>{{ item.name }}</h5>
                        <div class="cafa-button">
                            <a href="">{{ item.cuisine.category.title }}</a>
                            <a href="">{{ item.cuisine.name }}</a>
                        </div>
                        <p>{{ item.description }}</p>
                        <ul class="menu-dish">
                            {% for feature in item.features %}
                            <li>{{ feature }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section> -->
<!-- footer -->
	
  <!-- bslthemes.com buttons html begin -->
  <div class="bsl-popup" data-theme="quickeat" data-category="html">
    <div class="bsl-popup__buttons"></div>
    <div class="bsl-popup__content bsl-popup__content-related">
      <div class="bsl-popup__menu"></div>
      <div class="bsl-popup__tabs">
        <div class="bsl-popup__tab bsl-popup__tab-demo"></div>
        <div class="bsl-popup__tab bsl-popup__tab-all"></div>
        <div class="bsl-popup__tab bsl-popup__tab-related"></div>
        <div class="bsl-popup__tab bsl-popup__tab-version"></div>
      </div>
    </div>
    <div class="bsl-popup__content bsl-popup__content-help"></div>
  </div>
  <!-- bslthemes.com buttons html end -->

  <!-- bslthemes.com buttons assets begin -->
  <link rel="stylesheet" href="https://bslthemes.com/bslthms-advanced-btns/assets/style.css">
  <!-- bslthemes.com buttons assets end -->
</div>

<!-- Modal -->
<div class="modal fade" id="booktable" tabindex="-1" role="dialog" aria-labelledby="booktableLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-warning" id="booktableLabel">Make a table reservation</h5>
				{% comment %} <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> {% endcomment %}
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="post">
					{% csrf_token %}
					<div class="form-group">
						<p>Please select the number of people and the required date and time</p>
					</div>
					<div class="form-group">
						<input type="text" name="name" id="name" placeholder="Your Name" class="form-control" required>
					</div>
					<div class="form-group">
						<input type="email" name="email" id="email" placeholder="Your Email" class="form-control" required>
					</div>
					<div class="form-group">
						<input type="number" name="phone" id="phone" placeholder="Your Phone" class="form-control" required>
					</div>
					<div class="form-group">
						<input type="text" id="BookingDate" class="form-control input datepicker checkin" name="date" placeholder="Choose date" required>
					</div>									
					<div class="form-group">
						<select class="form-control required" id="BookingTime" name="time" required>
							<option value="">Select time</option>
							{% for slot in time_slots %}
								<option value="{{ slot }}">{{ slot }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<select name="member" id="Persons" class="form-control" required>
							<option value="1">1 person</option>
							<option selected value="2">2 people</option>
							<option value="3">3 people</option>
						</select>
					</div>
					<div class="form-group">
						<button class="btn-submit" type="submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script_js %}
<script>
	$(".add-to-cart").on("click", function() {
		var item_id = $(this).data("id");
		var otype = localStorage.getItem('order_type');
		var rdistance = localStorage.getItem('rdistance{{restaurant.id}}');
	
		$.ajax({
			url: '{% url "restaurant:add_to_cart" %}',
			method: 'POST',
			data: {
				csrfmiddlewaretoken: '{{ csrf_token }}',
				'item_id': item_id,
				'restaurant_id': "{{restaurant.id}}",
				'order_type': otype ? otype : 'Delivery',
				'rdistance': rdistance ? rdistance : 0,
			},
			success: function(res) {
				cartupdate(res);
			}
		});
	});
	
</script>


<!-- {% comment %} <script>
	function displayDistances() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function (position) {
				let userLat =  position.coords.latitude;
				let userLon =  position.coords.longitude;
				const userAddress = {{ user_address|default:"null" |safe }};
				console.log("userAddress:", userAddress);
				if(userAddress){
					userLat = userAddress.lat
					userLon = userAddress.long;
				}
				document.querySelectorAll('.restaurant-card').forEach(function (card) {
					const restaurantLat = parseFloat(card.getAttribute('data-latitude'));
					const restaurantLon = parseFloat(card.getAttribute('data-longitude'));
					const restaurantVip = card.getAttribute('data-vip');
	
					const distance = calculateDistance(userLat, userLon, restaurantLat, restaurantLon);
					card.querySelector('.distance').innerText = `Distance: ${distance.toFixed(2)} km`;
	
					let deliveryCharge = 0;
					const totalAmountSpan = document.querySelector("#cart-total-amount");
					let cart = JSON.parse(localStorage.getItem('cart')) || [];
					let totalAmount = 0;
					cart.forEach(item => {
						totalAmount += item.price * item.quantity;
					});
					if (totalAmount < 30) {
						deliveryCharge = distance * 1; 
					} else if (distance > 7) {
						if (restaurantVip === "True") {
							deliveryCharge = 15 + distance;
						} else {
							deliveryCharge = distance;
						}
					}
					card.setAttribute('data-delivery-charge', deliveryCharge.toFixed(2));
					totalAmount += deliveryCharge;
					$('#cart-items .dcharge').text(`Delivery Charge: NZ$${deliveryCharge.toFixed(2)}`);
					$(`#cart-items .dtotal`).text(`Total: NZ$${totalAmount.toFixed(2)}`);
					totalAmountSpan.textContent = `NZ$${totalAmount.toFixed(2)}`;
				});
			});
		} else {
			console.error("Geolocation is not supported by this browser.");

		}
	}
	document.addEventListener('DOMContentLoaded', displayDistances);
</script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
    const deliveryOption = document.getElementById('delivery-option');
    const pickupOption = document.getElementById('pickup-option');
    let orderType = 'Delivery'; 
    function activateOption(selectedOption) {
        orderType = selectedOption;
        if (selectedOption === 'Delivery') {
            deliveryOption.classList.add('active');
            pickupOption.classList.remove('active');
        } else if (selectedOption === 'Pickup') {
            pickupOption.classList.add('active');
            deliveryOption.classList.remove('active');
        }
        updateCartDisplay();
    }

    deliveryOption.addEventListener('click', function() {
        activateOption('Delivery');
    });

    pickupOption.addEventListener('click', function() {
        activateOption('Pickup');
    });

	let cart =  [];
    document.querySelectorAll(".add-to-cart").forEach(button => {
        button.addEventListener("click", function() {
            const menuId = this.getAttribute("data-id");
            const menuTitle = this.getAttribute("data-title");
            const menuPrice = parseFloat(this.getAttribute("data-price"));
            const menuImage = this.getAttribute("data-image");
            const quantityInput = this.closest('.card-body').querySelector('.qty-input');
            const quantity = parseInt(quantityInput.value);
            const existingItem = cart.find(item => item.id === menuId);
            // if (existingItem) {
            //     existingItem.quantity += quantity;
            // } else {
            //     cart.push({ id: menuId, title: menuTitle, price: menuPrice, image: menuImage, quantity });
            // }
			$.ajax({
			url: '{% url "restaurant:add_to_cart" %}',
			method: 'POST',
			headers: {
				'X-CSRFToken': '{{ csrf_token }}'
			},
			data: {
				'menu_id': menuId,
				'menu_title': menuTitle,
				'menu_price': menuPrice,
				'menu_image': menuImage,
				'quantity': quantity,
				'order_type': orderType,
				'restaurant_id': document.getElementById('restaurent-input').value,
			},
			success: function(response) {
				updateCartDisplay(response.cart_items);
				showToast();
			},
			error: function(xhr, status, error) {
				console.error("Error adding to cart:", error);
			}
		});
            updateCartDisplay();
            showToast(); 
			this.classList.add('d-none');
            const controls = this.closest('.card-body')?.querySelectorAll('.increase-qty, .decrease-qty');
            controls?.forEach(control => control.classList.remove('d-none'));

			const quantitySpan = this.closest('.cart-actions').querySelector('.item-quantity');
            quantitySpan.classList.remove('d-none');
            quantitySpan.textContent = `Qty: ${quantity}`;

			localStorage.setItem('cart', JSON.stringify(cart));

        });
    });

    document.addEventListener("input", function(e) {
        if (e.target.classList.contains('qty-input')) {
            const menuId = e.target.closest('.card-body').querySelector('.add-to-cart').getAttribute('data-id');
            const newQuantity = parseInt(e.target.value);
            const existingItem = cart.find(item => item.id === menuId);
            if (existingItem) {
                existingItem.quantity = newQuantity;
                updateCartDisplay();
				localStorage.setItem('cart', JSON.stringify(cart));

            }
        }
    });

    document.addEventListener("click", function(e) {
        if (e.target.classList.contains('increase-qty')) {
            const itemId = e.target.getAttribute('data-id');
            const item = cart.find(cartItem => cartItem.id === itemId);
            if (item) {
                item.quantity += 1;
                updateCartDisplay();
				localStorage.setItem('cart', JSON.stringify(cart));

            }
        }

        if (e.target.classList.contains('decrease-qty')) {
            const itemId = e.target.getAttribute('data-id');
            const item = cart.find(cartItem => cartItem.id === itemId);
            if (item) {
                if (item.quantity > 1) {
                    item.quantity -= 1;
                } else {
                    const index = cart.findIndex(cartItem => cartItem.id === itemId);
                    if (index > -1) {
                        cart.splice(index, 1);
                    }
					let itemstr = '.carditem'+itemId
					$('body').find(itemstr).parent().find('.add-to-cart').removeClass('d-none');
					$('body').find(itemstr).parent().find('.decrease-qty').addClass('d-none');
					$('body').find(itemstr).parent().find('.item-quantity').addClass('d-none');
					$('body').find(itemstr).parent().find('.increase-qty').addClass('d-none');
                    const controls = e.target.closest('.card-body')?.querySelectorAll('.increase-qty, .decrease-qty');
					controls?.forEach(control => control.classList.add('d-none'));
                
					const quantitySpan = e.target.closest('.cart-actions')?.querySelector('.item-quantity');
					quantitySpan?.classList.add('d-none');
                }
                updateCartDisplay();
				localStorage.setItem('cart', JSON.stringify(cart));

            }
        }
    });

    function showToast() {
        const toastContainer = document.getElementById('toast-container');
        toastContainer.style.display = 'block';
        setTimeout(() => {
            toastContainer.style.display = 'none';
        }, 2000);
    }
	

    function updateCartDisplay(cartItems = null) {
    const cartIcon = document.querySelector("#desktop-menu i");
    const totalAmountSpan = document.querySelector("#cart-total-amount");
    const cartContent = document.querySelector("#cart-content #cart-items");
    cartContent.innerHTML = "";

    let totalAmount = 0;
    const items = cartItems || cart; 
    items.forEach(item => {
        totalAmount += item.price * item.quantity;

        const cartItem = document.createElement("div");
        cartItem.classList.add("cart-item");
        cartItem.setAttribute('data-id', item.id);
        cartItem.innerHTML = `
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="${item.image}" alt="${item.title}" class="cart-item-image" loading="lazy">
                    </div>
                    <div class="col-md-5 pt-2" style="text-align: center;">
                        <p style="font-size:20px"><strong>${item.title}</strong></p>
                    </div>
                    <div class="col-md-2 pt-2" style="text-align: center;">
                        <p style="font-size:20px"><strong>NZ$${item.price} x <span class="cart-item-quantity">${item.quantity}</span></strong></p>
                    </div>
                    <div class="col-md-2 float-right">
                        <a class="btn decrease-qty" data-id="${item.id}">-</a>
                        <a class="btn increase-qty me-2" data-id="${item.id}">+</a>
                    </div>
                </div>
            </div>
        `;
        
        cartContent.appendChild(cartItem);
        
        const itemQtySpan = document.querySelector(`.item-quantity[data-id='${item.id}']`);
        if (itemQtySpan) {
            itemQtySpan.textContent = `Qty: ${item.quantity}`;
        }
    });

    let dcharge = 0;
    if (orderType === 'Delivery') {
        const selectedRestaurantCard = document.querySelector('.restaurant-card');
        const deliveryCharge = parseFloat(selectedRestaurantCard.getAttribute('data-delivery-charge')) || 0;
        totalAmount += deliveryCharge;
        dcharge = deliveryCharge;
        const deliveryChargeItem = document.createElement("div");
        deliveryChargeItem.classList.add("cart-item");
        deliveryChargeItem.innerHTML = `<p class="dcharge">Delivery Charge: NZ$${deliveryCharge.toFixed(2)}</p>`;
        cartContent.appendChild(deliveryChargeItem);
    }

    const totalAmountItem = document.createElement("div");
    totalAmountItem.classList.add("cart-item");
    totalAmountItem.innerHTML = `<p class="dtotal">Total: NZ$${totalAmount.toFixed(2)}</p>`;
    cartContent.appendChild(totalAmountItem);

    const cartDataInput = document.getElementById('cart-data');
    cartDataInput.value = JSON.stringify(items);
    const cartDataOrder = document.getElementById('order-type-input');
    cartDataOrder.value = orderType;
    const restaurentInput = document.getElementById('restaurent-input');
    restaurentInput.value = "{{restaurant.id}}";
    const dchargeInput = document.getElementById('dcharge');
    dchargeInput.value = dcharge;
    const checkoutButton = document.getElementById('checkout');
    checkoutButton.style.display = items.length > 0 ? 'block' : 'none';
    totalAmountSpan.textContent = ` NZ$ ${totalAmount.toFixed(2)} `;
}


    document.querySelector("#desktop-menu").addEventListener("click", function() {
        document.querySelector("#cart-section").classList.toggle("show");
    });

    document.querySelector("#close-cart").addEventListener("click", function() {
        document.querySelector("#cart-section").classList.remove("show");
    });

	document.getElementById('checkout').addEventListener('click', function() {
		localStorage.removeItem('cart');  
	});

	updateCartDisplay();

});
</script>
add voucher function
 <script>
	document.getElementById('apply-voucher').addEventListener('click', function(event) {
    event.preventDefault();
    
    const voucherCode = document.getElementById('voucher-code').value;
    const totalAmountElement = document.querySelector("#cart-content .cart-item:last-child p");
    let totalAmount = parseFloat(totalAmountElement.textContent.replace('Total: NZ$', ''));

    fetch("{% url 'restaurant:validate_voucher' %}", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: new URLSearchParams({
            'voucher_code': voucherCode,
            'total_amount': totalAmount
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            const discount = data.discount;
            totalAmount -= discount;
            totalAmountElement.textContent = `Total: NZ$${totalAmount.toFixed(2)}`;
            document.getElementById('voucher-code').disabled = true;
            document.getElementById('apply-voucher').disabled = true;
			const voucher_Input =document.getElementById('voucher_id')
			voucher_Input.value = data.id;
            alert(`Voucher applied! You saved NZ$${discount}.`);
        } else {
            alert(data.message);
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('An error occurred while applying the voucher.');
    });
});

 </script>



<script>
    const phoneInput = document.getElementById('phone');
    phoneInput.addEventListener('input', function (e) {
        this.value = this.value.replace(/e|\./g, '');
    });
</script>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		const modalBackdrop = document.getElementById('cart-backdrop');
		const menuButton = document.getElementById('desktop-menu');
	
		if (menuButton) {
			menuButton.addEventListener('click', function() {
				if (modalBackdrop.classList.contains('show')) {
					modalBackdrop.classList.remove('show');
					modalBackdrop.style.display = 'none'; 
				} else {
					modalBackdrop.classList.add('show');
					modalBackdrop.style.display = 'block'; 
				}
			});
		}
	});
	</script>
	 {% endcomment %} -->
	 <script>
		var feedbackModal = document.getElementById("feedbackModal");
		var feedbackBtn = document.getElementById("openFeedbackModal");
		var feedbackClose = document.getElementById("closeFeedbackModal");
		feedbackBtn.onclick = function() {
		  feedbackModal.style.display = "block";
		}
		feedbackClose.onclick = function() {
		  feedbackModal.style.display = "none";
		}
		window.onclick = function(event) {
		  if (event.target == feedbackModal) {
			feedbackModal.style.display = "none";
		  }
		}
		
	</script>
	 <script>
		function initAutocomplete() {
			var input = document.getElementById('location-input-2');
			var autocomplete = new google.maps.places.Autocomplete(input);
			autocomplete.setFields(['address_components', 'geometry', 'name']);
			autocomplete.addListener('place_changed', function () {
				var place = autocomplete.getPlace();
				console.log("Selected Place: ", place);
				var address = place.name;
				var latitude = place.geometry.location.lat();
				var longitude = place.geometry.location.lng();
				document.getElementById('address-2').value = address;
				document.getElementById('latitude-2').value = latitude;
				document.getElementById('longitude-2').value = longitude;
				document.getElementById('location-form-2').submit();
				
			});
		}
		google.maps.event.addDomListener(window, 'load', initAutocomplete);
	</script>
	 <script>
		document.addEventListener('DOMContentLoaded', function() {
			flatpickr("#BookingDate", {
				dateFormat: "Y-m-d",
				minDate: "today",
			});
		});
	</script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

{% endblock %}