{% extends "index.html" %}
{% load custom_filter %}
{% load static %}
{% block content %}

<div class="menu-layer">	
  <section class="hero-section about gap">
				<div class="container">
					{% comment %} <div class="row align-items-center">
						<div class="col-lg-6" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
							<div class="about-text">
								<ul class="crumbs d-flex">
									<li><a href="{% url 'home:home-page' %}">Home</a></li>
									<li class="two"><a href="{% url 'restaurant:restaurant' %}"><i class="fa-solid fa-right-long"></i>Restaurants</a></li>
								</ul>
								<h2>Restaurants</h2>
								<p>Egestas sed tempus urna et pharetra pharetra massa. Fermentum posuere urna nec tincidunt praesent semper.</p>
								<div class="restaurant">
									<div class="nice-select-one">
										<select class="nice-select Advice">
											{% for rest in restaurants  %}
											<option>{{rest.title}}</option>
											{% endfor %}
									</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6" data-aos="fade-up"  data-aos-delay="300" data-aos-duration="400">
							<div class="restaurants-girl-img food-photo-section">
								<img alt="man" src="{% static 'images/photo-11.png' %}">
								<a href="#" class="one"><i class="fa-solid fa-burger"></i>Burgers</a>
								<a href="#" class="two"><i class="fa-solid fa-drumstick-bite"></i>Chicken</a>
								<a href="#" class="three"><i class="fa-solid fa-cheese"></i>Steaks</a>
								<a href="#" class="for"><i class="fa-solid fa-pizza-slice"></i>Fish</a>
							</div>
						</div>
					</div> {% endcomment %}
				</div>
	</section>
	<!-- banner -->
	<section class="banner mb-5" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
		<div class="container">
			{% comment %} <div class="banner-img" style="background-image: url(https://bslthemes.com/html/quickeat/assets/img/food-4.jpg);">
				<div class="banner-logo">
					<h4>Restaurant<br>of the Month
					<span class="chevron chevron--left"></span>
				</h4>
					<div class="banner-wilmington">
						<img alt="logo" src="{% static 'images/logos-6.jpg' %}">
						<h6>The Wilmington</h6>
					</div>
				</div>

				<div class="row">
					<div class="col-xl-6 col-lg-12">
						<div class="choose-lunches">

							<h2>Choose 2 lunches</h2>
							<h3>pay for one</h3>
							<a href="#" class="button button-2 non">Order Now<i class="fa-solid fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div> {% endcomment %}
		</div>
	</section>
	<!-- best-restaurants -->
	<section class="best-restaurants gap">
		<div class="container-fluid px-md-4 px-2">
			<div class="row mx-0">
				{% if restaurants %}
					{% for restaurant in restaurants %}
						<div class="restaurant-card col-lg-4  mb-3" 
							data-latitude="{{ restaurant.latitude }}" 
							data-longitude="{{ restaurant.longitude }}"
							data-address="{{ restaurant.address }}"
							data-id="{{ restaurant.id }}"
							data-aos="flip-up" 
							data-aos-delay="200" 
							data-aos-duration="300">
							<div class="h-100">
								<div class="logos-card restaurant-page  h-100">
									<img alt="{{ restaurant.title }}" src="{% if restaurant.logo %}{{ restaurant.logo.url }}{% else %}{% static 'images/order-easy.png' %}{% endif %}" style="width: 100px; height: 100px; object-fit: cover;">
									<div class="cafa">
										<h4><a href="{% url 'restaurant:restaurant-card' restaurant.slug %}">{{ restaurant.title }}</a></h4>
										<div>
											{% for i in restaurant.rating|range_custom %}
												<i class="fa-solid fa-star"></i>
											{% endfor %}
											{% for i in restaurant.rating|range_diff:5 %}
												<i class="fa-regular fa-star"></i>
											{% endfor %}
										</div>
										{% comment %} <div class="cafa-button">
											{% for categorys in cat %}
											<a class="end" href="javascript:void(0)">{{ categorys.title }}</a>
											{% endfor %}
										</div> {% endcomment %}
										{% if restaurant.content %}
										<p>{{ restaurant.content | truncatechars:150  }}</p>
										{% endif %}
										{% if restaurant.start and restaurant.end %}
										<p><b>{{ restaurant.start }}</b> To <b>{{ restaurant.end }}</b></p>
										{% endif %}
															<span>
										{% if restaurant.start|is_restaurant_open:restaurant.end %}
											<span class="text-success">Open</span>
										{% else %}
											<span class="text-danger">Closed</span>
										{% endif %}
										</span>
										{% comment %} {% if restaurant.lowest_price %}
										<p><strong>Delivery starts from:</strong>  NZ$ {{ restaurant.lowest_price }}</p>
										{% else %}
										<p><strong>Delivery starts from:</strong>  NZ$ 0</p>
										{% endif %} {% endcomment %}
										<p class="distance d-none">
											Distance: Calculating...
										</p> 
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<p>No restaurants found for this cuisine.</p>
				{% endif %}
			</div>
		</div>
	</section>
	

	{% comment %} <!-- subscribe-section -->

	<section class="subscribe-section gap mt-5" style="background:#fcfcfc">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6" data-aos="flip-up"  data-aos-delay="200" data-aos-duration="300">
					<div class="img-subscribe">
						<img alt="Illustration" src="{% static 'images/illustration-4.png' %}">
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1" data-aos="flip-up"  data-aos-delay="300" data-aos-duration="400">
					<div class="get-the-menu">
						<h2>Get the menu of your favorite restaurants every day</h2>
						<form>
							<i class="fa-regular fa-bell"></i>
							<input type="text" name="email" placeholder="Enter email address">
							<button class="button button-2">Subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section> {% endcomment %}
	<!-- footer -->
	
	<!-- bootstrap -->
  <div class="bsl-popup" data-theme="quickeat" data-category="html">
    <div class="bsl-popup__buttons"></div>
    <div class="bsl-popup__content bsl-popup__content-related">
      <div class="bsl-popup__menu"></div>
      <div class="bsl-popup__tabs">
        <div class="bsl-popup__tab bsl-popup__tab-demo"></div>
        <div class="bsl-popup__tab bsl-popup__tab-all"></div>
        <div class="bsl-popup__tab bsl-popup__tab-related"></div>
        <div class="bsl-popup__tab bsl-popup__tab-version"></div>
      </div>
    </div>
    <div class="bsl-popup__content bsl-popup__content-help"></div>
  </div>
</div>
<div class="modal fade exampleModal-3" id="display_checkout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"  aria-labelledby="staticBackdropLabel" aria-hidden="true" >
	<div class="modal-dialog modal-lg" >
		<div class="modal-content">
			<div class="modal-body" style="font-family: Arial, sans-serif; color: #333; background-color: #eaf6ea; padding: 20px; border: 1px solid #ddd; border-radius: 8px;">
				<div class="modal-content p-3 text-center border-0" style="background-color: transparent;">
					<div style="font-family: Arial, sans-serif; color: #333; background-color: #eaf6ea; padding: 20px; ">
						<div style="text-align: center; margin-bottom: 20px;">
							<img src="https://testing.ordereasy.co.nz/static/images/order-easy.png" alt="OrderEasy" style="max-width: 150px;">
						</div>
						
						<h1 style="color: #5cb85c; text-align: center; font-size: 24px;">Thank you for your order, {{ order.user.first_name }} {{ order.user.last_name }}!</h1>
						<p style="font-size: 18px;">Thanks for ordering from ORDER EASY. Your order has been successfully placed with the following details:</p>
						
						<ul style="font-size: 16px; padding-left: 20px;">
							<li style="margin-bottom: 10px;"><strong>Order ID:</strong> {{ order.orderid }}</li>
							<li style="margin-bottom: 10px;"><strong>Restaurant Name:</strong> {{ order.restaurant.title }}</li>
							<li style="margin-bottom: 10px;"><strong>Order Type:</strong> {{ order.otype }}</li>
							{% if order.instruction %}<p style="font-size: 18px;"><strong>Special Instructions:</strong> {{ order.instruction }}</p>{% endif %}
							<li style="margin-bottom: 10px;"><strong>Total amount to pay:</strong> <span style="color: #d9534f;">${{ order.total|floatformat:2 }}</span></li>
							<li style="margin-bottom: 10px;"><strong>Delivery Address:</strong> {{ order.address }}</li>
					
						</ul>
					
						<h2 style="color: #F29F05; font-size: 20px; border-bottom: 2px solid #F29F05; padding-bottom: 5px;">Order Details</h2>
					 
						<table style="width: 100%; border-collapse: collapse; font-size: 16px; margin-top: 10px;">
							<thead>
								<tr>
									<th style="text-align: left; padding: 8px; border-bottom: 1px solid #ddd;">Item Title</th>
									<th style="text-align: center; padding: 8px; border-bottom: 1px solid #ddd;">Quantity</th>
									<th style="text-align: right; padding: 8px; border-bottom: 1px solid #ddd;">Price</th>
								</tr>
							</thead>
							<tbody>
								{% for item in order.cart_order.all %}
									<tr>
										<td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ item.title }}</td>
										<td style="text-align: center; padding: 8px; border-bottom: 1px solid #ddd;">{{ item.quantity }}</td>
										<td style="text-align: right; padding: 8px; border-bottom: 1px solid #ddd;"><span style="color: #5cb85c;">${{ item.price|floatformat:2 }}</span></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					
						<div style="text-align: center; margin-top: 20px;">
							<p style="font-size: 18px;"><strong>Delivery Charge:</strong> <span style="color: #d9534f;">${{ order.charge|floatformat:2 }}</span></p>
							<p style="font-size: 18px;"><strong>Total Price:</strong> <span style="color: #d9534f;">${{ order.total|floatformat:2 }}</span></p>
						</div>
					
						<p style="font-size: 16px; text-align: center; margin-top: 20px;">Thank you for choosing ORDER EASY!</p>
					
					</div>
					<div class="modal-actions mt-4">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block script_js %}
<script>
    $(document).ready(function() {
        {% if flag %}
            $("#display_checkout").modal('show');
        {% endif %}
    });
</script>
<script>
	function initAutocomplete() {
		var input = document.getElementById('location-input-2');
		var autocomplete = new google.maps.places.Autocomplete(input);
		autocomplete.setFields(['address_components', 'geometry', 'name']);
		autocomplete.addListener('place_changed', function () {
			var place = autocomplete.getPlace();
			// console.log("Selected Place: ", place);
			var address = place.name;
			var latitude = place.geometry.location.lat();
			var longitude = place.geometry.location.lng();
			// console.log( address,"dsfdsf");
			// console.log(latitude,"dsfdsf");
			// console.log(longitude,"dsfdsf");
			// console.log(place,"dsfdsf");
			// console.log(place.formatted_address,"dsfdsf");
			document.getElementById('address-2').value = address;
            document.getElementById('latitude-2').value = latitude;
            document.getElementById('longitude-2').value = longitude;
            document.getElementById('location-form-2').submit();
			
		});
	}
	google.maps.event.addDomListener(window, 'load', initAutocomplete);
</script>
{% endblock %}
{% block schema %}
<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "ItemList",
	"itemListElement": [
	{% for rest in restaurants %}
	  {
		"@type": "ListItem",
		"position": 1,
		"item": {
		  "@type": "Restaurant",
		  "name": "{{rest.title}}",
		  "image": "{{request.get_host}}{{ rest.image.url}}",
		  "address": {
			"@type": "PostalAddress",
			"streetAddress": "{{rest.address}}",
			"addressLocality": "{{rest.city}}",
			"addressRegion":"{{rest.state.name}}",
			"postalCode": "{{rest.postcode}}",
			"addressCountry": "{{rest.country.name}}"
		  },
		  "geo": {
			"@type": "GeoCoordinates",
			"latitude":"{{rest.latitude}}",
			"longitude": "{{rest.longitude}}"
		  },
		  "telephone": "{{rest.phone}}",
		  "url": "{{ request.build_absolute_uri}}{{rest.slug}}/"
		}
	  }{% if not forloop.last %},{% endif %}
		{% endfor %}
	]
  }
</script>
{% endblock %}