{% extends "index.html" %}
{% load custom_filter %}
{% load static %}
{% block content %}

<div class="menu-layer">
	<section class="hero-section about gap" style="background-image: url(https://bslthemes.com/html/quickeat/assets/img/background-1.png);">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6" data-aos="fade-up"  data-aos-delay="300" data-aos-duration="400">
					<div class="about-text">
						<ul class="crumbs d-flex">
							<li><a href="{ % url 'home:home-page'  %}">Home</a></li>
							<li><a href="{%  url  'restaurant:restaurant'  %}"><i class="fa-solid fa-right-long"></i>Restaurants</a></li>
							<li class="two"><a href="/{ % url 'home:home-page'  %}"><i class="fa-solid fa-right-long"></i>The Wilmington</a></li>
						</ul>
						<div class="logo-detail">
							<img alt="{{restaurant.title}}" src="{{ restaurant.logo.url }}">
							<h2>{{restaurant.title}}</h2>
						</div>
						<div class="rate">
							<span>Rate:</span>
							<div class="star">
								{% for i in restaurant.rating|range_custom %}
									<i class="fa-solid fa-star"></i>
								{% endfor %}
								{% for i in restaurant.rating|range_diff:5 %}
									<i class="fa-regular fa-star"></i>
								{% endfor %}
							</div>
							<span>CUISINES:</span>
							<div class="cafa-button">
								{% for categorys in cat %}
								<a class="end" href="#">{{categorys.title}}</a>
								{% endfor %}
							</div>
							<span>FEATURES:</span>
							<p>{{ restaurant.content }}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6" data-aos="fade-up"  data-aos-delay="400" data-aos-duration="500">
					<div class="about-img">
						<img alt="man" src="{% static 'images/restaurant-1.jpg' %}">
						<div class="hours">
							<i class="fa-regular fa-clock"></i>
							<h4>9am – 12pm<br><span>Hours</span></h4>
						</div>
						<div class="hours two">
							<i class="fa-solid fa-utensils"></i>
							<h4>Breakfast, Lunch, Dinner<br><span>Meals</span></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- tabs -->
	{% comment %} <section class="tabs gap">
		<div class="container">
			<div class="tabs-img-back">
				<div class="row">
					<div class="col-lg-12">
						<div class="Provides" data-aos="fade-up" data-aos-delay="200" data-aos-duration="300">
							<div class="nav nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
								<button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
									data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
									aria-selected="true">Breakfast</button>
								<button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
									data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
									aria-selected="false">Lunch</button>
								<button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
									data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
									aria-selected="false">Dinner</button>
							</div>
							<div class="like-meal">
								<a href="#"><i class="fa-solid fa-heart"></i>Like Meals</a>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="tab-content" id="v-pills-tabContent">
							<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
								aria-labelledby="v-pills-home-tab">
								<div class="row">
									{% for menu in breakfast_items %}
										<div class="col-xl-4 col-lg-6" data-aos="flip-up" data-aos-delay="200" data-aos-duration="300">
											<div class="dish">
												<img alt="food-dish" class="img-fluid" src="{{ menu.cuisine.image.url }}">
												<div class="dish-foods">
													<h3>{{ menu.cuisine.title }}</h3>
													<div class="dish-icon">
														<div class="cafa-button">
															<a href="#">{{ menu.keyword }}</a>
														</div>
														<div class="dish-icon end">
															<i class="info fa-solid fa-circle-info"></i>
															<div class="star">
																<a href="#"><i class="fa-solid fa-heart"></i></a>
															</div>
														</div>
													</div>
													<div class="price">
														<h2>${{ menu.price }}</h2>
														<div class="qty-input">
															<button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
															<input class="product-qty" type="number" name="product-qty" min="0" value="1">
															<button class="qty-count qty-count--add" data-action="add" type="button">+</button>
														</div>
													</div>
													<button class="button-price">Add to Basket<i class="fa-solid fa-bag-shopping"></i></button>
												</div>
												<div class="dish-info" style="display: none;">
													<i class="info2 fa-solid fa-xmark"></i>
													<h5>{{ menu.cuisine.title }}</h5>
													<div class="cafa-button">
														<a href="#">{{ menu.keyword }}</a>
													</div>
													<p>{{ menu.meta_description }}</p>
													<ul class="menu-dish">
														<li>{{ menu.meta_title }}</li>
													</ul>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
								<div class="row">
									{% for menu in lunch_items %}
										<div class="col-xl-4 col-lg-6">
											<div class="dish">
												<img alt="food-dish" class="img-fluid" src="{{ menu.cuisine.image.url }}">
												<div class="dish-foods">
													<h3>{{ menu.cuisine.title }}</h3>
													<div class="dish-icon">
														<div class="cafa-button">
															<a href="#">{{ menu.keyword }}</a>
														</div>
														<div class="dish-icon end">
															<i class="info fa-solid fa-circle-info"></i>
															<div class="star">
																<a href="#"><i class="fa-solid fa-heart"></i></a>
															</div>
														</div>
													</div>
													<div class="price">
														<h2>${{ menu.price }}</h2>
														<div class="qty-input">
															<button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
															<input class="product-qty" type="number" name="product-qty" min="0" value="1">
															<button class="qty-count qty-count--add" data-action="add" type="button">+</button>
														</div>
													</div>
													<button class="button-price">Add to Basket<i class="fa-solid fa-bag-shopping"></i></button>
												</div>
												<div class="dish-info" style="display: none;">
													<i class="info2 fa-solid fa-xmark"></i>
													<h5>{{ menu.cuisine.title }}</h5>
													<div class="cafa-button">
														<a href="#">{{ menu.keyword }}</a>
													</div>
													<p>{{ menu.meta_description }}</p>
													<ul class="menu-dish">
														<li>{{ menu.meta_title }}</li>
													</ul>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
							<!-- Dinner Tab -->
							<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
								<div class="row">
									{% for menu in dinner_items %}
										<div class="col-xl-4 col-lg-6">
											<div class="dish">
												<img alt="food-dish" class="img-fluid" src="{% if menu.cuisine.image %}{{ menu.cuisine.image.url }}{% endif %} ">
												<div class="dish-foods">
													<h3>{{ menu.cuisine.title }}</h3>
													<div class="dish-icon">
														<div class="cafa-button">
															<a href="#">{{ menu.keyword }}</a>
														</div>
														<div class="dish-icon end">
															<i class="info fa-solid fa-circle-info"></i>
															<div class="star">
																<a href="#"><i class="fa-solid fa-heart"></i></a>
															</div>
														</div>
													</div>
													<div class="price">
														<h2>${{ menu.price }}</h2>
														<div class="qty-input">
															<button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
															<input class="product-qty" type="number" name="product-qty" min="0" value="1">
															<button class="qty-count qty-count--add" data-action="add" type="button">+</button>
														</div>
													</div>
													<button class="button-price">Add to Basket<i class="fa-solid fa-bag-shopping"></i></button>
												</div>
												<div class="dish-info" style="display: none;">
													<i class="info2 fa-solid fa-xmark"></i>
													<h5>{{ menu.cuisine.title }}</h5>
													<div class="cafa-button">
														<a href="#">{{ menu.keyword }}</a>
													</div>
													<p>{{ menu.meta_description }}</p>
													<ul class="menu-dish">
														<li>{{ menu.meta_title }}</li>
													</ul>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> {% endcomment %}

	<section class="tabs gap">
		<div class="container">
			<div class="">
				<div class="row mx-0 pt-4">
					<div class="col-lg-3 px-0 pe-md-2">
						<div class="dish h-100 mt-0">
							<h2 class="mb-4"><b>Menu</b></h2>
							<ul class="menu-categories list-unstyled">
								{% for category, cuisines in category_cuisines.items %}
									<li class="mb-3">
										<h4 class="text-secondary">
											<a href="{% url 'restaurant:restaurant-card-category' slug=restaurant.slug category_title=category %}"
											   style="{% if selected_category == category %}color: orange;{% endif %}">
												{{ category }}
											</a>
										</h4>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="col-lg-9 px-0 ps-md-2">
						<div class="dish mt-0">
							<h3 class="mb-4">Cuisines by Category: {{ selected_category }}</h3>
							<div class="row">
								{% for menu in menus %}
									<div class="col-md-4">
										<div class="card shadow-sm mb-4 h-100 hover-card">
											{% if menu.cuisine.image %}
												<img src="{{ menu.cuisine.image.url }}" class="card-img-top" alt="{{ menu.cuisine.title }}">
											{% endif %}
											<div class="card-body">
												<h5 class="card-title">{{ menu.cuisine.title }}</h5>
												<p class="card-text">
													<strong>Price:</strong> ${{ menu.price }}<br>
													<strong>Available:</strong> {{ menu.available|yesno:"Yes,No" }}<br>
													<strong>Start Time:</strong> {{ menu.start|date:"H:i" }}<br>
													<strong>End Time:</strong> {{ menu.end|date:"H:i" }}
												</p>
												<button class="btn btn-warning add-to-cart" data-id="{{ menu.id }}" data-title="{{ menu.cuisine.title }}" data-price="{{ menu.price }}">Add to Cart</button>
											</div>
										</div>
									</div>
								{% empty %}
									<p>No menus available for this category.</p>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	
	
   <!-- Lunch Section -->
   <section class="lunch-section gap" style="background:#fcfcfc">
    <div class="container">
        <h2 data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">See also category Lunch</h2>
        <div class="row">
            {% for item in lunch_items %}
            <div class="col-xl-4 col-lg-6" data-aos="flip-up" data-aos-delay="200" data-aos-duration="300">
                <div class="dish">
                    <img alt="food-dish" src="{{ item.cuisine.image.url }}" class="img-fluid">
                    <div class="dish-foods">
                        <h3>{{ item.cuisine.title }}</h3>
                        <div class="dish-icon">
                            <div class="cafa-button">
                                <a href="#">{{ item.cuisine.category.title }}</a>
                                {% comment %} <a href="#">{{ item.cuisine.title }}</a> {% endcomment %}
                            </div>
                            <div class="dish-icon end">
                                <i class="info fa-solid fa-circle-info"></i>
                                <div class="star">
                                    <a href="#"><i class="fa-solid fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <h2>${{ item.price }}</h2>
                            <div class="qty-input">
                                <button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
                                <input class="product-qty" type="number" name="product-qty" min="0" value="1">
                                <button class="qty-count qty-count--add" data-action="add" type="button">+</button>
                            </div>
                        </div>
                        <button class="button-price">Add to Basket<i class="fa-solid fa-bag-shopping"></i></button>
                    </div>
                    <div class="dish-info" style="display: none;">
                        <i class="info2 fa-solid fa-xmark"></i>
                        <h5>{{ item.name }}</h5>
                        <div class="cafa-button">
                            <a href="#">{{ item.cuisine.category.title }}</a>
                            <a href="#">{{ item.cuisine.name }}</a>
                        </div>
                        <p>{{ item.description }}</p>
                        <ul class="menu-dish">
                            {% for feature in item.features %}
                            <li>{{ feature }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- footer -->
	
  <!-- bslthemes.com buttons html begin -->
  <div class="bsl-popup" data-theme="quickeat" data-category="html">
    <div class="bsl-popup__buttons"></div>
    <div class="bsl-popup__content bsl-popup__content-related">
      <div class="bsl-popup__menu"></div>
      <div class="bsl-popup__tabs">
        <div class="bsl-popup__tab bsl-popup__tab-demo"></div>
        <div class="bsl-popup__tab bsl-popup__tab-all"></div>
        <div class="bsl-popup__tab bsl-popup__tab-related"></div>
        <div class="bsl-popup__tab bsl-popup__tab-version"></div>
      </div>
    </div>
    <div class="bsl-popup__content bsl-popup__content-help"></div>
  </div>
  <!-- bslthemes.com buttons html end -->

  <!-- bslthemes.com buttons assets begin -->
  <link rel="stylesheet" href="https://bslthemes.com/bslthms-advanced-btns/assets/style.css">
  <script src="https://bslthemes.com/bslthms-advanced-btns/assets/script.js"></script>
  <!-- bslthemes.com buttons assets end -->
</div>
<script>
	document.addEventListener("DOMContentLoaded", function() {
		const cart = [];
		
		document.querySelectorAll(".add-to-cart").forEach(button => {
			button.addEventListener("click", function() {
				console.log("Add to Cart button clicked"); // Debug line
				const menuId = this.getAttribute("data-id");
				const menuTitle = this.getAttribute("data-title");
				const menuPrice = parseFloat(this.getAttribute("data-price"));
				
				const existingItem = cart.find(item => item.id === menuId);
				if (existingItem) {
					existingItem.quantity += 1;
				} else {
					cart.push({ id: menuId, title: menuTitle, price: menuPrice, quantity: 1 });
				}
				
				updateCartDisplay();
			});
		});
	
		function updateCartDisplay() {
			const cartIcon = document.querySelector("#desktop-menu i");
			cartIcon.textContent = `(${cart.length})`;  // Update cart icon to show the number of items
			
			const cartContent = document.querySelector("#cart-content #cart-items");
			cartContent.innerHTML = "";  // Clear existing content
	
			cart.forEach(item => {
				const cartItem = document.createElement("div");
				cartItem.classList.add("cart-item");
				cartItem.innerHTML = `
					<p>${item.title} - $${item.price} x ${item.quantity}</p>
					<button class="btn btn-sm btn-primary increase-qty" data-id="${item.id}">+</button>
				`;
				cartContent.appendChild(cartItem);
			});
		}
	});
</script>
{% endblock %}